{%  extends 'base.html' %}
{% load static %}

{% block title %}Create Character{%  endblock title %}
{% block content %}
    {%  block extrahead %}
        <link href="{% static "css/characters/characters.css" %}" rel="stylesheet">
    {% endblock extrahead %}
    <div class="character-detail">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input id="id_save" type="submit" value="Save">
        </form>
    </div>
{% endblock content %}