{%  extends 'base.html' %}
{% load static %}

{% block title %}{{ character.name }}{%  endblock title %}
{% block content %}
    {%  block extrahead %}
        <link href="{% static "css/characters/characters.css" %}" rel="stylesheet">
    {% endblock extrahead %}
    <div class="character-detail">
        <img height="150px" width="150px" src="{% if character.image %}{{ character.image }}{% else %}{% static "img/characters/no_image.png" %}{% endif %}">
        <h1>{{ character.name }}</h1>
        <p class="h6">Class: {{ character.character_class }}</p>
        <p class="h6">Level: {{ character.level }}</p>
        <p class="h6">Alignment: {{ character.alignment }}</p>
        <p class="h6">Race: {{ character.race }}</p>
        <p class="h6">Gender: {{ character.gender }}</p>
        <p class="h6">XP: {{ character.experience_points }}</p>
        <p class="h6">STR: {{ character.strength }}</p>
        <p class="h6">INT: {{ character.intelligence }}</p>
        <p class="h6">WIS: {{ character.wisdom }}</p>
        <p class="h6">DEX: {{ character.dexterity }}</p>
        <p class="h6">CON: {{ character.constitution }}</p>
        <p class="h6">CHA: {{ character.charisma }}</p>
        <p class="h6">PP: {{ character.platinum }}, GP: {{ character.gold }}, SP:{{ character.silver }}, CP:{{ character.copper }}</p>
    </div>
    <div>
        <a class="btn btn-primary" href="{% url 'character_modify' character.id %}">Edit</a>
        <a class="btn btn-primary" href="{% url 'characters' %}">Back to List</a>
    </div>
{% endblock content %}