{%  extends 'base.html' %}
{% load static %}

{% block title %}{{ character.name }}{%  endblock title %}
{% block content %}
    {%  block extrahead %}
        <link href="{% static "css/characters/characters.css" %}" rel="stylesheet">
    {% endblock extrahead %}
    <div class="character-detail">
        <h1>{{ character.name }}</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ form.as_p }}</p>
            <input type="submit" value="Save">
        </form>
    </div>
{% endblock content %}